.card {
  background-color: #fff;
  border-radius: 2px;
  padding: 24px 16px;
}

.card__header {
  margin-bottom: 16px;
}

.card__title {
  font-size: 24px;
  margin: 0;
}

.card__subtitle {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.card__content {
  font-size: 14px;
  margin: 16px 0;
}
