@import '../variable.css';

.drawer {
  background-color: var(--text-primary-color);
  padding: 16px;
}

.drawer__title {
  margin: 0;
}

.drawer__subtitle {
  color: var(--secondary-text-color);
}

.drawer__content {
  font-size: 14px;
}
