@import '../../variable.pcss';

.header {
  background-color: var(--dark-primary-color);
  color: var(--text-primary-color);
  height: 56px;
  margin-bottom: 16px;
  padding: 16px;
}

.header__title {
  font-size: 20px;
  margin: 0;
}
